---
layout: page
title: Scheduling
inner_class: wide
permalink: /scheduling/
image: /assets/images/scheduling-banner.png
---

<p>Whether you are a good friend looking to catch up, or you want to meet for the first time, this scheduling page can make it easier for us to connect.</p>

<div class="entries-grid">
    <div class="entry">
        <img src="/assets/images/quick-chat.png" alt="Quick Chat">

        <h3>Quick chat</h3>

        <p>For introductions or a focused conversation, find an opening that works for your schedule here:</p>

        <p><a target="_blank" href="https://fantastical.app/bennorris/quick-chat" class="btn"><span class="icon">{% include icon-calendar.svg %}</span>Schedule quick chat</a></p>
    </div>

    <div class="entry">
        <img src="/assets/images/longer-chat.png" alt="Longer Chat">

        <h3>Longer chat</h3>

        <p>To discuss something in more detail or address multiple topics at once, look for a longer time slot that works for you here:</p>

        <p><a target="_blank" href="https://fantastical.app/bennorris/longer-chat" class="btn"><span class="icon">{% include icon-calendar.svg %}</span>Schedule longer chat</a></p>
    </div>

    <div class="entry">
        <img src="/assets/images/lunch.png" alt="Lunch">

        <h3>Lunch</h3>

        <p>If you are in Utah and can get to the Salt Lake/Provo area, let’s get lunch! Find a convenient time for you here:</p>

        <p><a target="_blank" href="https://fantastical.app/bennorris/lunch" class="btn"><span class="icon">{% include icon-calendar.svg %}</span>Schedule lunch</a></p>
    </div>
</div>