<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <article class="entry-wrap">
    <div class="entry-content">
      {{ content }}
      
      {% if include.gallery-link %}
        <p><a href="{{ include.gallery-href }}" class="btn">View image gallery</a></p>
      {% endif %}

      {% if include.archive-entries %}
        {% include posts-list-by-date.html posts=include.posts %}
      {% elsif include.gallery %}
        {% include posts-image-gallery.html posts=include.posts %}
      {% else %}
        <div class="entries-{{ page.entries_layout | default: 'list' }}">
          {% if include.limit %}
            {% for post in include.posts limit:include.limit %}
              {% include entry.html %}
            {% endfor %}
          {% else %}
            {% for post in include.posts %}
              {% include entry.html %}
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}
      
      {% if include.limit %}
        {% if include.posts.size > include.limit && include.all-href %}
          <a href="{{ include.all-href }}" class="btn">View all {{ page.alt_title | default: page.title | markdownify | strip_html }} posts</a>
        {% endif %}
      {% endif %}
    </div>
    </article>
  </div>
</main>
