<div id="my-work" class="entries-grid offerings">
    <div class="entry engineering-offering">
        <h3 class="entry-title">Engineering</h3>
        <a class="entry-image-link clean" id="mobile" href="/mobile/engineering"><img src="/assets/images/mobile.png" class="entry-image" alt="Mobile consulting"></a>
        <p class="entry-excerpt">Whether you need help <strong>planning the architecture</strong> to start building or to scale up, conducting thorough <strong>code reviews</strong> to ensure best practices, or actually <strong>writing the code</strong>, I’m your guy.</p>
        <p class="entry-excerpt more-link"><a href="/mobile/engineering/" class="more-link">Learn more <span class="icon icon--arrow-right">{% include icon-arrow-right.svg %}</span></a></p>
    </div>

    <div class="entry design-offering">
        <h3 class="entry-title">Design</h3>
        <a class="entry-image-link clean" id="sketchnotes" href="/mobile/design"><img src="/assets/images/sketchnotes.png" class="entry-image" alt="Design"></a>
        <p class="entry-excerpt">The key to your success is having a mobile app that <strong>people want to use</strong>. I can provide guidance for the <strong>fundamental principles</strong> of your app, or <strong>provide detailed designs</strong> that will be easy to build.</p>
        <p class="entry-excerpt more-link"><a href="/mobile/design/" class="more-link">Learn more <span class="icon icon--arrow-right">{% include icon-arrow-right.svg %}</span></a></p>
    </div>

    <div class="entry product-offering">
        <h3 class="entry-title">Product Management</h3>
        <a class="entry-image-link clean" id="leadership" href="/mobile/product"><img src="/assets/images/leaders.png" class="entry-image" alt="Mental health"></a>
        <p class="entry-excerpt">The most important part of any project is ensuring you are <strong>building the right thing</strong>. I will guide you to discovering <strong>what your users need</strong> and how to <strong>solve their problems</strong> in ways that will delight them.</p>
        <p class="entry-excerpt more-link"><a href="/mobile/product/" class="more-link">Learn more <span class="icon icon--arrow-right">{% include icon-arrow-right.svg %}</span></a></p>
    </div>
</div>
