/* ==========================================================================
   Buttons
   ========================================================================== */

.btn {
  display: inline-block;
  padding: 0.5em 1em;
  border: 0.15em solid $accent-color;
  border-radius: $border-radius;
  background-color: $accent-color;
  color: $light-text-color;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color ease-in-out 300ms;

  &:hover {
    background-color: tint($accent-color, 20%);
    color: $light-text-color;
  }

  &:focus {
    background-color: shade($accent-color, 20%);
  }

  .icon {
    margin-right: 0.5em;
  }

  &.secondary {
    background-color: $light-text-color;
    color: $accent-color;

    &:hover {
      background-color: tint($accent-color, 90%);
    }
  }

  /* block button fills width of parent container */
  &--block {
    display: block;
    width: 100%;

    + .btn--block {
      margin-top: 1rem;
    }
  }
}
